body{
    font-family: 'Bebas Neue', cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 55px;
    line-height: 80px;
    margin: 0;
}
.highlighter-1{
    color: #363958;
}
.highlighter-2{
    color: #FF8367;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
img{
    width: 100%;
}
section{
    height: 600px;
}
p{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #3E3E3E;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato, salmon);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: normal;
    font-size: 24px;
}
h2{
    text-align: center;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
}
h3{
    font-size: 48px;
    line-height: 48px;
    color: #363958;
}
#background-banner{
    background-image: url("images/background-banner.png");
    background-repeat: no-repeat;
}
h4{
    color: #363958;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 10px;
}
.half-width-third-sec{
    width: 23%;
    float: left;
}
.single-block{
    box-shadow: 2px 2px 20px gray;
    border-radius: 20px;
    height: 55%;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}