body{
    font-family: 'Bebas Neue', cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 55px;
    line-height: 80px;
    margin: 0;
}
.highlighter-1{
    color: #363958;
}
.highlighter-2{
    color: #FF8367;
    margin-left: 45px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
img{
    width: 100%;
}
section{
    height: 600px;
    padding-top: 20px;
}
p{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #3E3E3E;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato, salmon);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: normal;
    font-size: 24px;
}
h2{
    text-align: center;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
}
h3{
    font-size: 48px;
    line-height: 48px;
    color: #363958;
}
#background-banner{
    background-image: url("images/E5E5E5.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
h4{
    color: #363958;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 10px;
}
.half-width-third-sec{
    width: 23%;
    float: left;
    background-color: white;
}
.single-block{
    box-shadow: 1px 1px 10px lightgray;
    border-radius: 20px;
    height: 55%;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-left: 3%;
}
.half-width-bottom{
    width: 20%;
    float: left;
    position: absolute;
    width: 906px;
    height: 225px;
    left: 230px;
    top: 2100px;
    background: linear-gradient(138.38deg, #5D69E9 -7.79%, #4225B6 98.72%);
    border-radius: 30px;
}
.work{
    position: absolute;
    left: 90px;
    top: 85px;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 64px;
    color: white;
}
.lets-chat-button{
    position: absolute;
    width: 8%;
    height: 8%;
    left: 650px;
    top: 40%;
    font-size: 20px;
    padding-bottom: 3.5%;
}
.stay-connected{
    position: absolute;
    left: 635px;
    top: 2420px;
    font-family: 'Bebas Neue';
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    color: #696871;
}
.mail{
    position: absolute;
    left: 540px;
    top: 2450px;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 25px;
    line-height: 42px;
    color: #363958;
}
.block-center{
    margin-left: 15%;
}
.icon-half-width{
    width: 40px;
    float: left;
    margin-left: 10px;
    padding-left: 2%;
}
.icon-center{
    margin-left: 43%;
}
form{
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: normal;
}
.form{
    padding-top: 40%;
    margin-left: 20%;
}
.form-link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato, salmon);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: normal;
    font-size: 12px;
}